.pagination{
    li{
        display: inline-flex;

        
        a{          
            justify-content: center;
            align-self: center;
            padding: 10px;
            width: 40px;
            height: 40px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            margin-right: 10px;
            color: #fe5f1e;
            text-align: center;
            &:hover{
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
    :global{
        .selected{
            a{
                background-color: #fe5f1e;
            color: #fff;
            
            }
        }
    }
}